<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'labels:index' %}">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'colourman:add_colourman' %}">Add Colourman</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="{% url 'colourman:add_to_log' %}">Add label to usage log</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'labels:index' %}">Back</a>
                </li>
            </ul>
        </div>
    </div>
</nav>